@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: #ededed;
  background: black;
  font-family: Arial, Helvetica, sans-serif;
}

/* hwllo world*/

h1 {
  color: #ededed;
  font-size: 2rem;
  text-align: center;
  margin-top: 20px;
}
